In [33]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt

from subprocess import check_output

crimes1 = pd.read_csv('F:\Crime rate prediction\Working in colab/01_District_wise_crimes_committed_IPC_2001_2012.csv')
crimes2 = pd.read_csv('F:\Crime rate prediction\Working in colab/01_District_wise_crimes_committed_IPC_2013.csv')

crimes = pd.concat([crimes1,crimes2],  ignore_index=False, axis=0)

crimes.rename(columns={'STATE/UT':'STATE'}, inplace=True)

del crimes1
del crimes2


print('Dataset is ready....')
crimes.shape


states = crimes.STATE.unique()


for i in range(0, len(states)):
    states[i] = states[i].lower()
    
for j in range(0, len(states)):
    if states[j] == 'a & n islands':
       states[j] = 'a&n islands'
    
    if  states[j] == 'd & n haveli':
        states[j] = 'd&n haveli'
      
print(states)


states = np.unique(states).tolist()

print(states)

crimes['STATE'] = crimes['STATE'].str.lower()
crimes.head(3)


crimes_total = crimes[crimes['DISTRICT'] == 'TOTAL']


crimes_total.drop('DISTRICT', axis=1, inplace=True)

crimes_total = crimes_total[crimes_total['YEAR'] != 2013]
crimes_total

Dataset is ready....
['andhra pradesh' 'arunachal pradesh' 'assam' 'bihar' 'chhattisgarh' 'goa'
 'gujarat' 'haryana' 'himachal pradesh' 'jammu & kashmir' 'jharkhand'
 'karnataka' 'kerala' 'madhya pradesh' 'maharashtra' 'manipur' 'meghalaya'
 'mizoram' 'nagaland' 'odisha' 'punjab' 'rajasthan' 'sikkim' 'tamil nadu'
 'tripura' 'uttar pradesh' 'uttarakhand' 'west bengal' 'a&n islands'
 'chandigarh' 'd&n haveli' 'daman & diu' 'delhi ut' 'lakshadweep'
 'puducherry' 'andhra pradesh' 'arunachal pradesh' 'assam' 'bihar'
 'chhattisgarh' 'goa' 'gujarat' 'haryana' 'himachal pradesh'
 'jammu & kashmir' 'jharkhand' 'karnataka' 'kerala' 'madhya pradesh'
 'maharashtra' 'manipur' 'meghalaya' 'mizoram' 'nagaland' 'odisha'
 'punjab' 'rajasthan' 'sikkim' 'tamil nadu' 'tripura' 'uttar pradesh'
 'uttarakhand' 'west bengal' 'a&n islands' 'chandigarh' 'd&n haveli'
 'daman & diu' 'delhi ut' 'lakshadweep' 'puducherry']
['a&n islands', 'andhra pradesh', 'arunachal pradesh', 'assam', 'bihar', 'chandigarh', 'chhattisgarh', 'd&n haveli', 'daman & diu', 'delhi ut', 'goa', 'gujarat', 'haryana', 'himachal pradesh', 'jammu & kashmir', 'jharkhand', 'karnataka', 'kerala', 'lakshadweep', 'madhya pradesh', 'maharashtra', 'manipur', 'meghalaya', 'mizoram', 'nagaland', 'odisha', 'puducherry', 'punjab', 'rajasthan', 'sikkim', 'tamil nadu', 'tripura', 'uttar pradesh', 'uttarakhand', 'west bengal']

C:\Anaconda3\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

,STATE,YEAR,MURDER,ATTEMPT TO MURDER,CULPABLE HOMICIDE NOT AMOUNTING TO MURDER,RAPE,CUSTODIAL RAPE,OTHER RAPE,KIDNAPPING & ABDUCTION,KIDNAPPING AND ABDUCTION OF WOMEN AND GIRLS,...,ARSON,HURT/GREVIOUS HURT,DOWRY DEATHS,ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY,INSULT TO MODESTY OF WOMEN,CRUELTY BY HUSBAND OR HIS RELATIVES,IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES,CAUSING DEATH BY NEGLIGENCE,OTHER IPC CRIMES,TOTAL IPC CRIMES
28,andhra pradesh,2001,2602,1555,136,871,0,871,1182,765,...,872,34947,420,3544,2271,5791,7,7400,34344,130089
42,arunachal pradesh,2001,83,53,3,33,0,33,83,55,...,13,466,0,78,3,11,0,0,618,2342
70,assam,2001,1356,481,40,817,0,817,1480,1070,...,441,5805,59,850,4,1248,0,2010,9315,36877
115,bihar,2001,3643,3419,250,888,0,888,2159,518,...,502,7544,859,562,21,1558,83,2406,36667,88432
135,chhattisgarh,2001,880,529,45,959,0,959,207,171,...,215,5477,70,1763,161,840,0,689,15790,38460
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8988,chandigarh,2012,21,44,5,27,0,27,87,66,...,9,42,5,45,25,73,0,3,1042,3606
8990,d & n haveli,2012,7,2,0,3,0,3,13,9,...,12,25,0,2,0,0,0,23,112,318
8993,daman & diu,2012,3,5,0,5,0,5,3,0,...,11,17,0,0,0,3,0,38,46,239
9013,lakshadweep,2012,0,0,0,0,0,0,0,0,...,3,3,0,1,0,1,0,0,32,60
9016,puducherry,2012,29,27,12,13,0,13,19,16,...,21,818,0,9,2,6,0,263,2060,4281

In [27]:
crimes_totals = crimes_total[['STATE','YEAR','MURDER','RAPE','ARSON','THEFT','KIDNAPPING & ABDUCTION']]
crimes_totals

,STATE,YEAR,MURDER,RAPE,ARSON,THEFT,KIDNAPPING & ABDUCTION
28,andhra pradesh,2001,2602,871,872,16751,1182
42,arunachal pradesh,2001,83,33,13,443,83
70,assam,2001,1356,817,441,5367,1480
115,bihar,2001,3643,888,502,9701,2159
135,chhattisgarh,2001,880,959,215,4812,207
...,...,...,...,...,...,...,...
8988,chandigarh,2012,21,27,9,1549,87
8990,d & n haveli,2012,7,3,12,68,13
8993,daman & diu,2012,3,5,11,55,3
9013,lakshadweep,2012,0,0,3,7,0
9016,puducherry,2012,29,13,21,658,19

In [28]:
crimes_total.to_csv('F:\Crime rate prediction\Working in colab/crime_state_name.csv', index = False, encoding='utf-8')

In [31]:

data_state_number = crimes_total

STATE = {'andhra pradesh':1, 'arunachal pradesh':2, 'assam':3, 'bihar':4, 'chhattisgarh':5, 'goa':6, 'gujarat':7, 'haryana':8,'himachal pradesh':9,'jammu & kashmir':10,'jharkhand':11,'karnataka':12, 'kerala':13, 'madhya pradesh':14, 'maharashtra':15, 'manipur':16, 'meghalaya':17,
'mizoram':18, 'nagaland':19, 'odisha':20, 'punjab':21, 'rajasthan':22, 'sikkim':23, 'tamil nadu':24,
 'tripura':25, 'uttar pradesh':26, 'uttarakhand':27, 'west bengal':28, 'a & n islands':29,
'chandigarh':30, 'd & n haveli':31, 'daman & diu':32, 'delhi ut':33, 'lakshadweep':34,'puducherry':35
}
  
data_state_number.STATE = [STATE[item] for item in data_state_number.STATE]
data_state_number

C:\Anaconda3\lib\site-packages\pandas\core\generic.py:5168: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

      STATE  YEAR  MURDER  RAPE  ARSON  THEFT  KIDNAPPING & ABDUCTION
28        1  2001    2602   871    872  16751                    1182
42        2  2001      83    33     13    443                      83
70        3  2001    1356   817    441   5367                    1480
115       4  2001    3643   888    502   9701                    2159
135       5  2001     880   959    215   4812                     207
...     ...   ...     ...   ...    ...    ...                     ...
8988     30  2012      21    27      9   1549                      87
8990     31  2012       7     3     12     68                      13
8993     32  2012       3     5     11     55                       3
9013     34  2012       0     0      3      7                       0
9016     35  2012      29    13     21    658                      19

[408 rows x 7 columns]

In [32]:
crimes_total.to_csv('F:\Crime rate prediction\Working in colab/crime_short_number.csv', index = False, encoding='utf-8')